<div class = "service-grid-wrapper">
    <img src = "{{file_url(row._entity.field_image.entity.uri.value)}}" alt = "{{row._entity.field_image.alt}}" height = "300px" width = "300px" class="service-image">
    <h2 class = "service-slider-title">{{fields.title.content}}</h2>
</div>