<section class= "slot-booking">
    <div class ="slot-image-title">
        <img src= "{{file_url(content.field_image[0]['#item'].entity.uri.value)}}" alt= "{{content.field_image[0]['#item'].value.alt}}" class="slot-home-logo">
        <h3 class="slot-title">{{content.field_title}}</h3>
    </div>
    <div class="slot-form">
    {{content.field_slot_booking}}
    </div>
</section>
